In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel('MODIS_Aqua_STATES_2018.xlsx')

In [8]:
df.head()

        Unnamed: 0      Unnamed: 1
0       Row Labels  Count of State
1          Alabama            2109
2          Arizona            1310
3         Arkansas            1660
4  Baja California             142

In [9]:
Aquadf = df[df['SAT_SRC,C,1'] == 'A']

KeyError: 'SAT_SRC,C,1'

In [10]:
Aquadf.head()

,"AREA,N,20,5","PERIMETER,N,20,5","FIRE_,N,11,0","FIRE_ID,N,11,0","LAT,N,13,3","LONG,N,13,3","DATE,D","JULIAN,N,3,0","GMT,N,4,0","TEMP,N,6,1","SPIX,N,6,1","TPIX,N,6,1","SRC,C,10","SAT_SRC,C,1","CONF,N,3,0","FRP,N,8,1"
1,0,0,2,143041,49.455,-119.016,2018-08-13,225,2122,306.4,2.0,1.4,rsac,A,59,13.1
3,0,0,4,156898,49.454,-118.350,2018-08-18,230,2001,312.9,2.3,1.5,rsac,A,73,31.4
4,0,0,5,140750,49.454,-116.476,2018-08-12,224,933,307.7,1.4,1.2,rsac,A,72,18.0
6,0,0,7,162038,49.453,-118.362,2018-08-20,232,1024,304.0,1.2,1.1,rsac,A,46,10.3
13,0,0,14,177985,49.450,-118.349,2018-08-23,235,2019,322.3,1.4,1.2,rsac,A,82,29.1

In [12]:
Terradf = df[df['SAT_SRC,C,1'] == 'T']

In [13]:
Terradf.head()

,"AREA,N,20,5","PERIMETER,N,20,5","FIRE_,N,11,0","FIRE_ID,N,11,0","LAT,N,13,3","LONG,N,13,3","DATE,D","JULIAN,N,3,0","GMT,N,4,0","TEMP,N,6,1","SPIX,N,6,1","TPIX,N,6,1","SRC,C,10","SAT_SRC,C,1","CONF,N,3,0","FRP,N,8,1"
0,0,0,1,286339,49.456,-97.488,2018-05-10,130,1708,324.3,1.6,1.3,rsac,T,82,33.8
2,0,0,3,450729,49.455,-115.999,2018-11-21,325,533,327.3,1.1,1.0,ssec,T,100,50.3
5,0,0,6,286338,49.454,-97.466,2018-05-10,130,1703,310.6,1.6,1.3,ssec,T,41,12.2
7,0,0,8,440365,49.453,-101.153,2018-10-20,293,1737,309.9,1.1,1.1,rsac,T,69,13.8
8,0,0,9,435749,49.452,-118.697,2018-10-04,277,1916,304.7,1.2,1.1,rsac,T,35,12.6

In [15]:
df.columns

Index(['AREA,N,20,5', 'PERIMETER,N,20,5', 'FIRE_,N,11,0', 'FIRE_ID,N,11,0',
       'LAT,N,13,3', 'LONG,N,13,3', 'DATE,D', 'JULIAN,N,3,0', 'GMT,N,4,0',
       'TEMP,N,6,1', 'SPIX,N,6,1', 'TPIX,N,6,1', 'SRC,C,10', 'SAT_SRC,C,1',
       'CONF,N,3,0', 'FRP,N,8,1'],
      dtype='object')

In [18]:
AFRP = Aquadf[['AREA,N,20,5', 'PERIMETER,N,20,5', 'FIRE_,N,11,0', 'FIRE_ID,N,11,0',
       'LAT,N,13,3', 'LONG,N,13,3', 'DATE,D', 'JULIAN,N,3,0', 'GMT,N,4,0', 
       'SPIX,N,6,1', 'TPIX,N,6,1', 'SRC,C,10', 'SAT_SRC,C,1', 'CONF,N,3,0', 
       'FRP,N,8,1']]

In [19]:
ATemp = Aquadf[['AREA,N,20,5', 'PERIMETER,N,20,5', 'FIRE_,N,11,0', 'FIRE_ID,N,11,0',
       'LAT,N,13,3', 'LONG,N,13,3', 'DATE,D', 'JULIAN,N,3,0', 'GMT,N,4,0',
       'TEMP,N,6,1', 'SPIX,N,6,1', 'TPIX,N,6,1', 'SRC,C,10', 'SAT_SRC,C,1',
       'CONF,N,3,0']]

In [20]:
TFRP = Terradf[['AREA,N,20,5', 'PERIMETER,N,20,5', 'FIRE_,N,11,0', 'FIRE_ID,N,11,0',
       'LAT,N,13,3', 'LONG,N,13,3', 'DATE,D', 'JULIAN,N,3,0', 'GMT,N,4,0',
       'SPIX,N,6,1', 'TPIX,N,6,1', 'SRC,C,10', 'SAT_SRC,C,1',
       'CONF,N,3,0', 'FRP,N,8,1']]

In [21]:
TTemp = Terradf[['AREA,N,20,5', 'PERIMETER,N,20,5', 'FIRE_,N,11,0', 'FIRE_ID,N,11,0',
       'LAT,N,13,3', 'LONG,N,13,3', 'DATE,D', 'JULIAN,N,3,0', 'GMT,N,4,0',
       'TEMP,N,6,1', 'SPIX,N,6,1', 'TPIX,N,6,1', 'SRC,C,10', 'SAT_SRC,C,1',
       'CONF,N,3,0']]

In [26]:
AFRP.to_excel('AFRP_2018.xlsx')

In [27]:
ATemp.to_excel('ATemp_2018.xlsx')

In [30]:
TFRP.to_excel('TFRP_2018.xlsx')

In [29]:
TTemp.to_excel('TTemp_2018.xlsx')